@section head{
    <link rel="stylesheet" href="~/css/Views/Home.css" />
    <script src="~/js/Views/Home.js"></script>
}
<h1>ExteCR</h1>


<div id="output"></div>
<a href="javascript:prevPage()" id="btn_prev">Prev</a>
<ul id="pages"></ul>
<a href="javascript:nextPage()" id="btn_next">Next</a>




